# Data Loading

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data/earthquakes-2026-01-05_12-47-18_+0530.tsv', sep='\t')

In [3]:
data

,Search Parameters,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,...,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
0,"[""2003 <= Year >= 2026""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2003.0,1.0,11.0,17.0,45.0,30.6,NaN,NaN,"IRAN: KAZERUN, NURABAD",...,NaN,NaN,NaN,2.0,NaN,3.0,650.0,3.0,1350.0,4.0
2,NaN,2003.0,1.0,20.0,8.0,43.0,6.0,2401.0,NaN,"SOLOMON ISLANDS: HONIARA, SAN CRISTOBAL",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2003.0,1.0,22.0,2.0,6.0,34.6,2402.0,NaN,"MEXICO: VILLA DE ALVAREZ, COLIMA, TECOMAN, JA...",...,NaN,NaN,1073.0,4.0,116.3,4.0,2005.0,4.0,6615.0,4.0
4,NaN,2003.0,1.0,23.0,0.0,8.0,22.8,NaN,NaN,INDONESIA: SUMBAWA ISLAND: DOMPU,...,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN,500.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,2025.0,11.0,14.0,0.0,16.0,39.2,NaN,NaN,THE NETHERLANDS: GRONINGEN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2117.0,4.0
1306,NaN,2025.0,11.0,21.0,4.0,38.0,28.0,NaN,NaN,"BANGLADESH: DHAKA, NARSINGDI",...,NaN,NaN,NaN,3.0,NaN,2.0,NaN,1.0,NaN,1.0
1307,NaN,2025.0,11.0,24.0,14.0,51.0,0.0,6082.0,NaN,MEXICO: OAXACA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308,NaN,2025.0,12.0,8.0,14.0,15.0,10.0,6078.0,NaN,JAPAN: HONSHU: MISAWA,...,NaN,NaN,46.0,1.0,NaN,2.0,1.0,1.0,55.0,2.0
1309,NaN,2025.0,12.0,12.0,2.0,44.0,11.0,6079.0,NaN,JAPAN: OFF EAST COAST OF HONSHU ISLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
data.head(10)

,Search Parameters,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
0,"[""2003 <= Year >= 2026""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2003.0,1.0,11.0,17.0,45.0,30.6,NaN,NaN,"IRAN: KAZERUN, NURABAD",29.590,51.474,33.0,5.2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,650.0,3.0,650.0,3.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,650.0,3.0,1350.0,4.0
2,NaN,2003.0,1.0,20.0,8.0,43.0,6.0,2401.0,NaN,"SOLOMON ISLANDS: HONIARA, SAN CRISTOBAL",-10.491,160.770,33.0,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2003.0,1.0,22.0,2.0,6.0,34.6,2402.0,NaN,"MEXICO: VILLA DE ALVAREZ, COLIMA, TECOMAN, JA...",18.770,-104.104,24.0,7.5,8.0,29.0,1.0,NaN,NaN,1073.0,4.0,116.3,4.0,2005.0,4.0,6615.0,4.0,29.0,1.0,NaN,NaN,1073.0,4.0,116.3,4.0,2005.0,4.0,6615.0,4.0
4,NaN,2003.0,1.0,23.0,0.0,8.0,22.8,NaN,NaN,INDONESIA: SUMBAWA ISLAND: DOMPU,-8.807,118.524,33.0,5.5,6.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN,500.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN,500.0,3.0
5,NaN,2003.0,1.0,26.0,19.0,57.0,3.2,NaN,NaN,"ITALY: SPINELLO, SANTA SOFIA, BAGNO DI ROMAGNA",43.883,11.960,7.0,4.7,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0
6,NaN,2003.0,1.0,27.0,5.0,26.0,23.0,NaN,NaN,"TURKEY: SAGLAMTAS, PULUMUR",39.500,39.878,10.0,6.1,NaN,1.0,1.0,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN,2.0
7,NaN,2003.0,2.0,13.0,17.0,34.0,20.9,NaN,NaN,CHINA: N. XINJIANG: URUMQI,43.897,85.923,24.0,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
8,NaN,2003.0,2.0,15.0,5.0,47.0,58.9,NaN,NaN,PHILIPPINES: LUZON: DIMASALANG,12.171,123.921,10.0,5.8,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
9,NaN,2003.0,2.0,15.0,11.0,1.0,59.8,5995.0,NaN,"PHILIPPINES: MASBATE, DIMASALANG",12.168,124.079,10.0,6.3,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 39 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Search Parameters                   1 non-null      object
 1   Year                                1309 non-null   float64
 2   Mo                                  1309 non-null   float64
 3   Dy                                  1309 non-null   float64
 4   Hr                                  1308 non-null   float64
 5   Mn                                  1308 non-null   float64
 6   Sec                                 1305 non-null   float64
 7   Tsu                                 312 non-null    float64
 8   Vol                                 12 non-null     float64
 9   Location Name                       1309 non-null   object
 10  Latitude                            1309 non-null   float64
 11  Longitude                           1309 non-null   float64
 12  Focal Depth (km)                    1298 non-null   float64
 13  Mag                                 1306 non-null   float64
 14  MMI Int                             487 non-null    float64
 15  Deaths                              525 non-null    float64
 16  Death Description                   525 non-null    float64
 17  Missing                             19 non-null     float64
 18  Missing Description                 18 non-null     float64
 19  Injuries                            691 non-null    float64
 20  Injuries Description                743 non-null    float64
 21  Damage ($Mil)                       228 non-null    float64
 22  Damage Description                  1031 non-null   float64
 23  Houses Destroyed                    357 non-null    float64
 24  Houses Destroyed Description        502 non-null    float64
 25  Houses Damaged                      401 non-null    float64
 26  Houses Damaged Description          636 non-null    float64
 27  Total Deaths                        537 non-null    float64
 28  Total Death Description             535 non-null    float64
 29  Total Missing                       19 non-null     float64
 30  Total Missing Description           21 non-null     float64
 31  Total Injuries                      700 non-null    float64
 32  Total Injuries Description          752 non-null    float64
 33  Total Damage ($Mil)                 234 non-null    float64
 34  Total Damage Description            1040 non-null   float64
 35  Total Houses Destroyed              361 non-null    float64
 36  Total Houses Destroyed Description  506 non-null    float64
 37  Total Houses Damaged                393 non-null    float64
 38  Total Houses Damaged Description    625 non-null    float64
dtypes: float64(37), object(2)
memory usage: 399.3+ KB

In [7]:
data.describe()

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
count,1309.000000,1309.000000,1309.000000,1308.000000,1308.000000,1305.000000,312.000000,12.000000,1309.000000,1309.000000,1298.000000,1306.000000,487.000000,525.000000,525.000000,19.000000,18.000000,691.000000,743.000000,228.000000,1031.000000,3.570000e+02,502.000000,4.010000e+02,636.000000,537.000000,535.000000,19.000000,21.000000,700.000000,752.000000,234.000000,1040.000000,3.610000e+02,506.000000,3.930000e+02,625.00000
mean,2012.822002,6.478992,15.628724,11.372324,29.503058,29.706360,5158.951923,7247.583333,16.856688,51.369139,29.855932,5.972894,6.482546,1192.596190,1.274286,114.578947,1.611111,1522.827786,1.709287,2006.711614,2.039767,2.607280e+04,2.352590,3.244352e+04,2.570755,1623.245810,1.289720,114.578947,1.523810,1890.032857,1.707447,2897.936491,2.043269,2.600023e+04,2.357708,7.058168e+04,2.59840
std,6.465595,3.465720,8.612787,7.160937,17.424512,17.292384,1081.008676,683.623828,24.826704,89.361343,59.186115,1.055785,1.705475,14940.763064,0.754760,232.754834,0.916444,16187.101100,1.018168,7376.526139,1.124040,2.880075e+05,1.192618,2.812317e+05,1.173068,17734.453355,0.762036,232.754834,0.872872,19617.141578,1.013647,16015.790563,1.129299,2.864558e+05,1.192597,1.061922e+06,1.17274
min,2003.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2401.000000,5184.000000,-61.825000,-179.971000,0.000000,1.600000,2.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.115000,1.000000,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.115000,1.000000,1.000000e+00,1.000000,1.000000e+00,1.00000
25%,2007.000000,3.000000,8.000000,5.000000,15.000000,15.500000,5142.000000,7274.000000,-2.404000,9.000000,10.000000,5.200000,5.000000,1.000000,1.000000,3.000000,1.000000,6.000000,1.000000,19.875000,1.000000,2.000000e+01,1.000000,1.000000e+02,1.000000,1.000000,1.000000,3.000000,1.000000,6.000000,1.000000,20.000000,1.000000,2.000000e+01,1.000000,1.000000e+02,1.00000
50%,2012.000000,7.000000,16.000000,11.000000,29.000000,29.300000,5634.000000,7536.500000,25.051000,73.978000,14.000000,5.900000,7.000000,3.000000,1.000000,9.000000,1.000000,25.000000,1.000000,100.000000,2.000000,2.220000e+02,2.000000,7.000000e+02,3.000000,3.000000,1.000000,9.000000,1.000000,25.000000,1.000000,100.000000,2.000000,2.500000e+02,2.000000,7.000000e+02,3.00000
75%,2018.000000,9.000000,23.000000,18.000000,45.000000,44.800000,5829.000000,7548.500000,36.623000,120.823000,31.000000,6.800000,8.000000,11.000000,1.000000,88.000000,2.750000,136.000000,3.000000,552.750000,3.000000,1.900000e+03,3.000000,4.825000e+03,4.000000,12.000000,1.000000,88.000000,2.000000,134.250000,3.000000,540.000000,3.000000,1.900000e+03,3.000000,4.545000e+03,4.00000
max,2025.000000,12.000000,31.000000,23.000000,59.000000,59.800000,6082.000000,7584.000000,64.004000,179.444000,671.000000,9.100000,10.000000,316000.000000,4.000000,800.000000,3.000000,374171.000000,4.000000,86000.000000,4.000000,5.360000e+06,4.000000,5.360000e+06,4.000000,316000.000000,4.000000,800.000000,3.000000,374171.000000,4.000000,220136.600000,4.000000,5.360000e+06,4.000000,2.100000e+07,4.00000

# Data Cleaning

In [8]:
# Safely drop 'Search Parameters' if present
if 'Search Parameters' in data.columns:
    data = data.drop('Search Parameters', axis=1)
else:
    # Column not present; nothing to drop
    pass

In [9]:
data.head()

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003.0,1.0,11.0,17.0,45.0,30.6,NaN,NaN,"IRAN: KAZERUN, NURABAD",29.590,51.474,33.0,5.2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,650.0,3.0,650.0,3.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,650.0,3.0,1350.0,4.0
2,2003.0,1.0,20.0,8.0,43.0,6.0,2401.0,NaN,"SOLOMON ISLANDS: HONIARA, SAN CRISTOBAL",-10.491,160.770,33.0,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003.0,1.0,22.0,2.0,6.0,34.6,2402.0,NaN,"MEXICO: VILLA DE ALVAREZ, COLIMA, TECOMAN, JA...",18.770,-104.104,24.0,7.5,8.0,29.0,1.0,NaN,NaN,1073.0,4.0,116.3,4.0,2005.0,4.0,6615.0,4.0,29.0,1.0,NaN,NaN,1073.0,4.0,116.3,4.0,2005.0,4.0,6615.0,4.0
4,2003.0,1.0,23.0,0.0,8.0,22.8,NaN,NaN,INDONESIA: SUMBAWA ISLAND: DOMPU,-8.807,118.524,33.0,5.5,6.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN,500.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN,500.0,3.0

In [10]:
data = data.iloc[1:]

In [11]:
data.head()

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
1,2003.0,1.0,11.0,17.0,45.0,30.6,NaN,NaN,"IRAN: KAZERUN, NURABAD",29.590,51.474,33.0,5.2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,650.0,3.0,650.0,3.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,650.0,3.0,1350.0,4.0
2,2003.0,1.0,20.0,8.0,43.0,6.0,2401.0,NaN,"SOLOMON ISLANDS: HONIARA, SAN CRISTOBAL",-10.491,160.770,33.0,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003.0,1.0,22.0,2.0,6.0,34.6,2402.0,NaN,"MEXICO: VILLA DE ALVAREZ, COLIMA, TECOMAN, JA...",18.770,-104.104,24.0,7.5,8.0,29.0,1.0,NaN,NaN,1073.0,4.0,116.3,4.0,2005.0,4.0,6615.0,4.0,29.0,1.0,NaN,NaN,1073.0,4.0,116.3,4.0,2005.0,4.0,6615.0,4.0
4,2003.0,1.0,23.0,0.0,8.0,22.8,NaN,NaN,INDONESIA: SUMBAWA ISLAND: DOMPU,-8.807,118.524,33.0,5.5,6.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN,500.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN,500.0,3.0
5,2003.0,1.0,26.0,19.0,57.0,3.2,NaN,NaN,"ITALY: SPINELLO, SANTA SOFIA, BAGNO DI ROMAGNA",43.883,11.960,7.0,4.7,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0

In [12]:
data.isnull().sum()

Year                                     0
Mo                                       0
Dy                                       0
Hr                                       1
Mn                                       1
Sec                                      4
Tsu                                    997
Vol                                   1297
Location Name                            0
Latitude                                 0
Longitude                                0
Focal Depth (km)                        11
Mag                                      3
MMI Int                                822
Deaths                                 784
Death Description                      784
Missing                               1290
Missing Description                   1291
Injuries                               618
Injuries Description                   566
Damage ($Mil)                         1081
Damage Description                     278
Houses Destroyed                       952
Houses Destroyed Description           807
Houses Damaged                         908
Houses Damaged Description             673
Total Deaths                           772
Total Death Description                774
Total Missing                         1290
Total Missing Description             1288
Total Injuries                         609
Total Injuries Description             557
Total Damage ($Mil)                   1075
Total Damage Description               269
Total Houses Destroyed                 948
Total Houses Destroyed Description     803
Total Houses Damaged                   916
Total Houses Damaged Description       684
dtype: int64

In [13]:
data.duplicated().sum()

np.int64(0)

In [14]:
# 1. Fill numeric columns (int and float) with 0
numeric_cols = data.select_dtypes(include=['float64']).columns
data[numeric_cols] = data[numeric_cols].fillna(0)

In [15]:
# 2. Fill object/string columns with 'None'
object_cols = data.select_dtypes(include=['object']).columns
data[object_cols] = data[object_cols].fillna('None')

In [16]:
data.isnull().sum()

Year                                  0
Mo                                    0
Dy                                    0
Hr                                    0
Mn                                    0
Sec                                   0
Tsu                                   0
Vol                                   0
Location Name                         0
Latitude                              0
Longitude                             0
Focal Depth (km)                      0
Mag                                   0
MMI Int                               0
Deaths                                0
Death Description                     0
Missing                               0
Missing Description                   0
Injuries                              0
Injuries Description                  0
Damage ($Mil)                         0
Damage Description                    0
Houses Destroyed                      0
Houses Destroyed Description          0
Houses Damaged                        0
Houses Damaged Description            0
Total Deaths                          0
Total Death Description               0
Total Missing                         0
Total Missing Description             0
Total Injuries                        0
Total Injuries Description            0
Total Damage ($Mil)                   0
Total Damage Description              0
Total Houses Destroyed                0
Total Houses Destroyed Description    0
Total Houses Damaged                  0
Total Houses Damaged Description      0
dtype: int64

In [17]:
data.columns

Index(['Year', 'Mo', 'Dy', 'Hr', 'Mn', 'Sec', 'Tsu', 'Vol', 'Location Name',
       'Latitude', 'Longitude', 'Focal Depth (km)', 'Mag', 'MMI Int', 'Deaths',
       'Death Description', 'Missing', 'Missing Description', 'Injuries',
       'Injuries Description', 'Damage ($Mil)', 'Damage Description',
       'Houses Destroyed', 'Houses Destroyed Description', 'Houses Damaged',
       'Houses Damaged Description', 'Total Deaths', 'Total Death Description',
       'Total Missing', 'Total Missing Description', 'Total Injuries',
       'Total Injuries Description', 'Total Damage ($Mil)',
       'Total Damage Description', 'Total Houses Destroyed',
       'Total Houses Destroyed Description', 'Total Houses Damaged',
       'Total Houses Damaged Description'],
      dtype='object')

# Advanced Visualization Suite

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import warnings
warnings.filterwarnings('ignore')

In [19]:
# Configure display settings
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")

In [20]:
print(f"Dataset shape: {data.shape}")
print(f"Columns: {data.columns.tolist()}")

Dataset shape: (1309, 38)
Columns: ['Year', 'Mo', 'Dy', 'Hr', 'Mn', 'Sec', 'Tsu', 'Vol', 'Location Name', 'Latitude', 'Longitude', 'Focal Depth (km)', 'Mag', 'MMI Int', 'Deaths', 'Death Description', 'Missing', 'Missing Description', 'Injuries', 'Injuries Description', 'Damage ($Mil)', 'Damage Description', 'Houses Destroyed', 'Houses Destroyed Description', 'Houses Damaged', 'Houses Damaged Description', 'Total Deaths', 'Total Death Description', 'Total Missing', 'Total Missing Description', 'Total Injuries', 'Total Injuries Description', 'Total Damage ($Mil)', 'Total Damage Description', 'Total Houses Destroyed', 'Total Houses Destroyed Description', 'Total Houses Damaged', 'Total Houses Damaged Description']

In [21]:
data.head()

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
1,2003.0,1.0,11.0,17.0,45.0,30.6,0.0,0.0,"IRAN: KAZERUN, NURABAD",29.590,51.474,33.0,5.2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,650.0,3.0,650.0,3.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,650.0,3.0,1350.0,4.0
2,2003.0,1.0,20.0,8.0,43.0,6.0,2401.0,0.0,"SOLOMON ISLANDS: HONIARA, SAN CRISTOBAL",-10.491,160.770,33.0,7.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2003.0,1.0,22.0,2.0,6.0,34.6,2402.0,0.0,"MEXICO: VILLA DE ALVAREZ, COLIMA, TECOMAN, JA...",18.770,-104.104,24.0,7.5,8.0,29.0,1.0,0.0,0.0,1073.0,4.0,116.3,4.0,2005.0,4.0,6615.0,4.0,29.0,1.0,0.0,0.0,1073.0,4.0,116.3,4.0,2005.0,4.0,6615.0,4.0
4,2003.0,1.0,23.0,0.0,8.0,22.8,0.0,0.0,INDONESIA: SUMBAWA ISLAND: DOMPU,-8.807,118.524,33.0,5.5,6.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,500.0,3.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,500.0,3.0
5,2003.0,1.0,26.0,19.0,57.0,3.2,0.0,0.0,"ITALY: SPINELLO, SANTA SOFIA, BAGNO DI ROMAGNA",43.883,11.960,7.0,4.7,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

## 3D GLOBE VISUALIZATIONS